
/*
    Poster
*/

.our-wedding {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: $gutter;
    margin: -5px -20px;
}

.other-information {
    display: block;
    margin: $gutter*2 auto;
    max-width: 400px;
    width: 100%;
}