
/*
    Poster
*/

.our-wedding {
    width: 80%;
    height: auto;
    display: block;
    margin: $gutter*2 auto;
}

.other-information {
    display: block;
    margin: $gutter*2 auto;
    max-width: 400px;
    width: 100%;
}

.logo {
    width: 100%;
    max-width: 400px;
    padding: $gutter*2 $gutter*2 $gutter $gutter*2;
    display: block;
    margin: 0 auto;
}

.nav {
    width: 100%;
    ul {
        margin: 0px 0px $gutter*.75 0px;
        padding: 0px;
        text-align: center;
    }
    li {
        display: inline-block;
        a {
            display: block;
            padding: $gutter/2;
        }
    }
    .active a {
        color: $primary;
    }
}

.hero {
    height: 0px;
    padding-bottom: 40%;
    color: $white;
}

.hero-1 {
    background-size: cover;
    background-position: center center;
    background-image: url('/assets/img/dan-and-kima-1.jpg');
}

.hero-2 {
    background-size: cover;
    background-position: center 17%;
    background-image: url('/assets/img/dan-and-kima-2.jpg');
}

.hero-3 {
    background-size: cover;
    background-position: center 12%;
    background-image: url('/assets/img/dan-and-kima-3.PNG');
}

.hero-4 {
    background-size: cover;
    background-position: center 9%;
    background-image: url('/assets/img/dan-and-kima-4.JPG');
}

.hero-5 {
    background-size: cover;
    background-position: center 62%;
    background-image: url('/assets/img/dan-and-kima-5.JPG');
}