
/*
    Poster
*/

.our-wedding {
    width: 80%;
    height: auto;
    display: block;
    margin: $gutter*2 auto;
}

.other-information {
    display: block;
    margin: $gutter*2 auto;
    max-width: 400px;
    width: 100%;
}